.header {
  background-color: #0143a3;
  background: -webkit-linear-gradient(#0143a3, #0273d4);
  background: linear-gradient(#0143a3, #0273d4);
  color: #fff;
  padding: 30px;
}

section {
  padding-top: 30px;
}
